<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beauty.interfaces.ResourceDao">
	<resultMap id="BaseResultMap" type="com.beauty.entity.BeautyResource">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="group_id" property="groupId" jdbcType="BIGINT" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="creater" property="creater" jdbcType="VARCHAR" />
		<result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
		<result column="def1" property="def1" jdbcType="VARCHAR" />
		<result column="def2" property="def2" jdbcType="VARCHAR" />
		<result column="def3" property="def3" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, code, name, url, remark
	</sql>
	<sql id="Base_Where_Clause">
		<where>
			1 = 1
			<if test="searchValue">
				AND ( name LIKE "%" #{searchValue} "%" OR code LIKE "%" #{searchValue} "%" OR remark LIKE "%" #{searchValue} "%" OR url LIKE "%" #{searchValue} "%" )
			</if>
		</where>
	</sql>
	<select id="selectPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM beauty_resource
		<include refid="Base_Where_Clause" />
		ORDER BY
		<if test="orderColumn">
			${orderColumn} ${orderDir}
		</if>
		<if test="orderColumn == null">
			id
		</if>
		LIMIT #{from}, #{size}
	</select>
	<select id="selectCount" parameterType="java.util.HashMap" resultType="int">
		SELECT
		COUNT(1)
		FROM beauty_resource
		<include refid="Base_Where_Clause" />
	</select>

	<update id="updateByPrimaryKeySelective" parameterType="com.beauty.entity.BeautyResource">
		update beauty_resource
		<set>
			<if test="code != null"> code = #{code,jdbcType=VARCHAR}, </if>
			<if test="name != null"> name = #{name,jdbcType=VARCHAR}, </if>
			<if test="url != null"> url = #{url,jdbcType=VARCHAR}, </if>
			<if test="groupId != 0"> group_id = #{groupId,jdbcType=BIGINT}, </if>
			<if test="remark != null"> remark = #{remark,jdbcType=VARCHAR}, </if>
			<if test="creater != null"> creater = #{creater,jdbcType=VARCHAR}, </if>
			<if test="lastUpdateTime != null"> last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}, </if>
			<if test="modifier != null"> modifier = #{modifier,jdbcType=VARCHAR}, </if>
			<if test="def1 != null"> def1 = #{def1,jdbcType=VARCHAR}, </if>
			<if test="def2 != null"> def2 = #{def2,jdbcType=VARCHAR}, </if>
			<if test="def3 != null"> def3 = #{def3,jdbcType=TIMESTAMP}, </if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

</mapper>