<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beauty.interfaces.SchemaColumnsDao">
	<resultMap id="BaseResultMap" type="com.beauty.entity.BeautySchemaColumns">
		<id column="id" property="id" jdbcType="BIGINT" />
		<id column="id" property="DT_RowId" jdbcType="BIGINT" />
		<result column="data" property="data" jdbcType="VARCHAR" />
		<result column="column_name" property="columnName" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="creater" property="creater" jdbcType="VARCHAR" />
		<result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
		<result column="def1" property="def1" jdbcType="VARCHAR" />
		<result column="def2" property="def2" jdbcType="VARCHAR" />
		<result column="def3" property="def3" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		t1.id, t1.data, t1.column_name, t1.title
	</sql>
	<sql id="Base_Where_Clause">
		<if test="searchValue">
			AND ( data LIKE "%" #{searchValue} "%" OR column_name LIKE "%" #{searchValue} "%" OR title LIKE "%" #{searchValue} "%" )
		</if>
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from beauty_schema_columns
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="selectPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM beauty_schema_columns t1
		LEFT JOIN information_schema.`COLUMNS` t2 ON t2.COLUMN_NAME = t1.column_name
		WHERE t2.TABLE_SCHEMA = (SELECT dict_value FROM beauty_dict WHERE dict_key = 'schema')
		AND t2.TABLE_NAME = #{tableName}
		AND NOT EXISTS (SELECT 1 FROM beauty_table_columns WHERE column_id = t1.id)
		<include refid="Base_Where_Clause" />
		ORDER BY
		<if test="orderColumn">
			${orderColumn} ${orderDir}
		</if>
		<if test="orderColumn == null">
			id
		</if>
		LIMIT #{from}, #{size}
	</select>
	<select id="selectCount" parameterType="java.util.HashMap" resultType="int">
		SELECT
		COUNT(1)
		FROM beauty_schema_columns t1
		LEFT JOIN information_schema.`COLUMNS` t2 ON t2.COLUMN_NAME = t1.column_name
		WHERE t2.TABLE_SCHEMA = (SELECT dict_value FROM beauty_dict WHERE dict_key = 'schema')
		AND t2.TABLE_NAME = #{tableName}
		AND NOT EXISTS (SELECT 1 FROM beauty_table_columns WHERE column_id = t1.id)
		<include refid="Base_Where_Clause" />
	</select>
	<delete id="deleteByPrimaryKeys" parameterType="java.util.List">
		delete from beauty_schema_columns
		where 1 != 1
		<if test="list.size() > 0">
			or id in
			<foreach collection="list" open="(" close=")" item="id" separator=",">
				${id}
			</foreach>
		</if>
	</delete>
	<insert id="insertSelective" parameterType="com.beauty.entity.BeautySchemaColumns">
		insert into beauty_schema_columns
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="data != null">
				data,
			</if>
			<if test="columnName != null">
				column_name,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="creater != null">
				creater,
			</if>
			<if test="lastUpdateTime != null">
				last_update_time,
			</if>
			<if test="modifier != null">
				modifier,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
			<if test="def1 != null">
				def1,
			</if>
			<if test="def2 != null">
				def2,
			</if>
			<if test="def3 != null">
				def3,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="data != null">
				#{data,jdbcType=VARCHAR},
			</if>
			<if test="columnName != null">
				#{columnName,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creater != null">
				#{creater,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateTime != null">
				#{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				#{modifier,jdbcType=VARCHAR},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=TINYINT},
			</if>
			<if test="def1 != null">
				#{def1,jdbcType=VARCHAR},
			</if>
			<if test="def2 != null">
				#{def2,jdbcType=VARCHAR},
			</if>
			<if test="def3 != null">
				#{def3,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.beauty.entity.BeautySchemaColumns">
		update beauty_schema_columns
		<set>
			<if test="data != null">
				data = #{data,jdbcType=VARCHAR},
			</if>
			<if test="columnName != null">
				column_name = #{columnName,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creater != null">
				creater = #{creater,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateTime != null">
				last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="isDeleted != null">
				is_deleted = #{isDeleted,jdbcType=TINYINT},
			</if>
			<if test="def1 != null">
				def1 = #{def1,jdbcType=VARCHAR},
			</if>
			<if test="def2 != null">
				def2 = #{def2,jdbcType=VARCHAR},
			</if>
			<if test="def3 != null">
				def3 = #{def3,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>