<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beauty.interfaces.TableConfigDao">
	<resultMap id="BaseResultMap" type="com.beauty.entity.BeautyTableConfig">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="table_name" property="tableName" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="data" property="data" jdbcType="VARCHAR" />
		<result column="column_name" property="columnName" jdbcType="VARCHAR" />
		<result column="orderable" property="orderable" jdbcType="TINYINT" />
		<result column="width" property="width" jdbcType="INTEGER" />
		<result column="class_name" property="className" jdbcType="VARCHAR" />
		<result column="sequence" property="sequence" jdbcType="INTEGER" />
		<result column="render" property="render" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="creater" property="creater" jdbcType="VARCHAR" />
		<result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
		<result column="def1" property="def1" jdbcType="VARCHAR" />
		<result column="def2" property="def2" jdbcType="VARCHAR" />
		<result column="def3" property="def3" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, table_name, title, data, column_name, orderable, width, class_name, sequence
		<!-- table_name, sequence, render, remark, create_time, creater, last_update_time, modifier, is_deleted, def1, def2, def3 -->
	</sql>
	<sql id="Base_Where_Clause">
		<where>
			1 = 1
			<if test="searchValue">
				AND ( title LIKE "%" #{searchValue} "%" OR data LIKE "%" #{searchValue} "%" OR column_name LIKE "%" #{searchValue} "%" )
			</if>
		</where>
	</sql>
	<select id="selectByTable" resultMap="BaseResultMap" parameterType="com.beauty.entity.BeautyTableConfig">
		SELECT
		<include refid="Base_Column_List" />
		FROM beauty_table_config WHERE table_name = #{tableName} ORDER BY sequence
	</select>
	<select id="selectPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM beauty_table_config
		<include refid="Base_Where_Clause" />
		ORDER BY table_name, id
		LIMIT #{from}, #{size}
	</select>
	<select id="selectCount" parameterType="java.util.HashMap" resultType="int">
		SELECT
		COUNT(1)
		FROM beauty_table_config
		<include refid="Base_Where_Clause" />
	</select>
</mapper>