<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beauty.interfaces.RoleDao">
	<resultMap id="BaseResultMap" type="com.beauty.entity.BeautyRole">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="group_id" property="groupId" jdbcType="BIGINT" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="creater" property="creater" jdbcType="VARCHAR" />
		<result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
		<result column="def1" property="def1" jdbcType="VARCHAR" />
		<result column="def2" property="def2" jdbcType="VARCHAR" />
		<result column="def3" property="def3" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, code, name, group_id, remark
	</sql>
	<sql id="Base_Where_Clause">
		<where>
			1 = 1
			<if test="searchValue">
				AND ( name LIKE "%" #{searchValue} "%" OR code LIKE "%" #{searchValue} "%" OR remark LIKE "%" #{searchValue} "%" )
			</if>
			<if test="serialize">
				${serialize}
			</if>
		</where>
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from beauty_role
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="selectPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM beauty_role
		<include refid="Base_Where_Clause" />
		ORDER BY
		<if test="orderColumn">
			${orderColumn} ${orderDir}
		</if>
		<if test="orderColumn == null">
			id
		</if>
		LIMIT #{from}, #{size}
	</select>
	<select id="selectCount" parameterType="java.util.HashMap" resultType="int">
		SELECT
		COUNT(1)
		FROM beauty_role
		<include refid="Base_Where_Clause" />
	</select>
	<delete id="deleteByPrimaryKeys" parameterType="java.util.List">
		delete from beauty_role
		where 1 != 1
		<if test="list.size() > 0">
			OR id IN
			<foreach collection="list" open="(" close=")" item="id" separator=",">
				#{id}
			</foreach>
		</if>
	</delete>
	<insert id="insertSelective" parameterType="com.beauty.entity.BeautyRole">
		insert into beauty_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null"> id, </if>
			<if test="code != null"> code, </if>
			<if test="name != null"> name, </if>
			<if test="groupId != null"> group_id, </if>
			<if test="remark != null"> remark, </if>
			<if test="createTime != null"> create_time, </if>
			<if test="creater != null"> creater, </if>
			<if test="lastUpdateTime != null"> last_update_time, </if>
			<if test="modifier != null"> modifier, </if>
			<if test="isDeleted != null"> is_deleted, </if>
			<if test="def1 != null"> def1, </if>
			<if test="def2 != null"> def2, </if>
			<if test="def3 != null"> def3, </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null"> #{id,jdbcType=BIGINT}, </if>
			<if test="code != null"> #{code,jdbcType=VARCHAR}, </if>
			<if test="name != null"> #{name,jdbcType=VARCHAR}, </if>
			<if test="groupId != null"> #{groupId,jdbcType=BIGINT}, </if>
			<if test="remark != null"> #{remark,jdbcType=VARCHAR}, </if>
			<if test="createTime != null"> #{createTime,jdbcType=TIMESTAMP}, </if>
			<if test="creater != null"> #{creater,jdbcType=VARCHAR}, </if>
			<if test="lastUpdateTime != null"> #{lastUpdateTime,jdbcType=TIMESTAMP}, </if>
			<if test="modifier != null"> #{modifier,jdbcType=VARCHAR}, </if>
			<if test="isDeleted != null"> #{isDeleted,jdbcType=TINYINT}, </if>
			<if test="def1 != null"> #{def1,jdbcType=VARCHAR}, </if>
			<if test="def2 != null"> #{def2,jdbcType=VARCHAR}, </if>
			<if test="def3 != null"> #{def3,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.beauty.entity.BeautyRole">
		update beauty_role
		<set>
			<if test="code != null"> code = #{code,jdbcType=VARCHAR}, </if>
			<if test="name != null"> name = #{name,jdbcType=VARCHAR}, </if>
			<if test="groupId != null"> group_id = #{groupId,jdbcType=BIGINT}, </if>
			<if test="remark != null"> remark = #{remark,jdbcType=VARCHAR}, </if>
			<if test="creater != null"> creater = #{creater,jdbcType=VARCHAR}, </if>
			<if test="modifier != null"> modifier = #{modifier,jdbcType=VARCHAR}, </if>
			<if test="isDeleted != null"> is_deleted = #{isDeleted,jdbcType=TINYINT}, </if>
			<if test="def1 != null"> def1 = #{def1,jdbcType=VARCHAR}, </if>
			<if test="def2 != null"> def2 = #{def2,jdbcType=VARCHAR}, </if>
			<if test="def3 != null"> def3 = #{def3,jdbcType=TIMESTAMP}, </if>
			last_update_time = now()
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<insert id="batchSync">
		INSERT INTO `beauty_role_authority` (`role_id`, `authority_id`) SELECT 1, id 
		FROM beauty_authority
		WHERE id NOT IN (SELECT authority_id FROM beauty_role_authority WHERE role_id = 1)
	</insert>
</mapper>