<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beauty.interfaces.GridDao">
	<resultMap id="BaseResultMap" type="com.beauty.entity.Grid">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="grid_name" property="gridName" jdbcType="VARCHAR" />
		<result column="auto_width" property="autoWidth" jdbcType="TINYINT" />
		<result column="defer_render" property="deferRender" jdbcType="TINYINT" />
		<result column="info" property="info" jdbcType="TINYINT" />
		<result column="j_query_ui" property="jQueryUi" jdbcType="TINYINT" />
		<result column="length_change" property="lengthChange" jdbcType="TINYINT" />
		<result column="ordering" property="ordering" jdbcType="TINYINT" />
		<result column="paging" property="paging" jdbcType="TINYINT" />
		<result column="processing" property="processing" jdbcType="TINYINT" />
		<result column="scroll_x" property="scrollX" jdbcType="TINYINT" />
		<result column="scroll_y" property="scrollY" jdbcType="VARCHAR" />
		<result column="searching" property="searching" jdbcType="TINYINT" />
		<result column="server_side" property="serverSide" jdbcType="TINYINT" />
		<result column="state_save" property="stateSave" jdbcType="TINYINT" />
		<result column="defer_loading" property="deferLoading" jdbcType="TINYINT" />
		<result column="destory" property="destory" jdbcType="TINYINT" />
		<result column="display_start" property="displayStart" jdbcType="INTEGER" />
		<result column="dom" property="dom" jdbcType="VARCHAR" />
		<result column="length_menu" property="lengthMenu" jdbcType="VARCHAR" />
		<result column="order_cells_top" property="orderCellsTop" jdbcType="TINYINT" />
		<result column="order_classes" property="orderClasses" jdbcType="TINYINT" />
		<result column="order" property="order" jdbcType="VARCHAR" />
		<result column="order_multi" property="orderMulti" jdbcType="TINYINT" />
		<result column="order_fixed" property="orderFixed" jdbcType="VARCHAR" />
		<result column="page_length" property="pageLength" jdbcType="INTEGER" />
		<result column="scroll_collapse" property="scrollCollapse" jdbcType="TINYINT" />
		<result column="search_cols" property="searchCols" jdbcType="VARCHAR" />
		<result column="search_delay" property="searchDelay" jdbcType="INTEGER" />
		<result column="renderer" property="renderer" jdbcType="VARCHAR" />
		<result column="retrieve" property="retrieve" jdbcType="VARCHAR" />
		<result column="state_duration" property="stateDuration" jdbcType="INTEGER" />
		<result column="stripe_classes" property="stripeClasses" jdbcType="VARCHAR" />
		<result column="tab_index" property="tabIndex" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="creater" property="creater" jdbcType="VARCHAR" />
		<result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
		<result column="def1" property="def1" jdbcType="VARCHAR" />
		<result column="def2" property="def2" jdbcType="VARCHAR" />
		<result column="def3" property="def3" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap type="com.beauty.entity.Grid" extends="BaseResultMap" id="ResultMapWithChildren">
		<collection property="columns" javaType="ArrayList" ofType="com.beauty.entity.Columns" column="id" select="selectColumns"></collection>
	</resultMap>
	<sql id="Base_Column_List">
		id, grid_name, auto_width, defer_render, info, j_query_ui, length_change, ordering,
		paging, processing, scroll_x, scroll_y, searching, server_side, state_save, defer_loading,
		destory, display_start, dom, length_menu, order_cells_top, order_classes, order,
		order_multi, order_fixed, page_length, scroll_collapse, search_cols, search_delay,
		renderer, retrieve, state_duration, stripe_classes, tab_index, create_time, creater,
		last_update_time, modifier, is_deleted, def1, def2, def3
	</sql>
	<sql id="Base_MAIN_Column_List">
		id, auto_width, ordering, paging, processing, scroll_x, scroll_y, searching,
		server_side, state_save, destory, dom, page_length
	</sql>
	<sql id="Base_Where_Clause">
		<where>
			1 = 1
			<if test="searchValue">
				AND ( grid_name LIKE "%" #{searchValue} "%" )
			</if>
		</where>
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from beauty_conf_grid
		where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="selectByGridName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_MAIN_Column_List" />
		from beauty_conf_grid
		where grid_name = #{gridName,jdbcType=BIGINT}
	</select>
	<select id="selectPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM beauty_conf_grid
		<include refid="Base_Where_Clause" />
		ORDER BY
		<if test="orderColumn">
			${orderColumn} ${orderDir}
		</if>
		<if test="orderColumn == null">
			id DESC
		</if>
		LIMIT #{from}, #{size}
	</select>
	<select id="selectCount" parameterType="java.util.HashMap" resultType="int">
		SELECT
		COUNT(1)
		FROM beauty_conf_grid
		<include refid="Base_Where_Clause" />
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from beauty_conf_grid
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insertSelective" parameterType="com.beauty.entity.Grid">
		insert into beauty_conf_grid
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="gridName != null">
				grid_name,
			</if>
			<if test="autoWidth != null">
				auto_width,
			</if>
			<if test="deferRender != null">
				defer_render,
			</if>
			<if test="info != null">
				info,
			</if>
			<if test="jQueryUi != null">
				j_query_ui,
			</if>
			<if test="lengthChange != null">
				length_change,
			</if>
			<if test="ordering != null">
				ordering,
			</if>
			<if test="paging != null">
				paging,
			</if>
			<if test="processing != null">
				processing,
			</if>
			<if test="scrollX != null">
				scroll_x,
			</if>
			<if test="scrollY != null">
				scroll_y,
			</if>
			<if test="searching != null">
				searching,
			</if>
			<if test="serverSide != null">
				server_side,
			</if>
			<if test="stateSave != null">
				state_save,
			</if>
			<if test="deferLoading != null">
				defer_loading,
			</if>
			<if test="destory != null">
				destory,
			</if>
			<if test="displayStart != null">
				display_start,
			</if>
			<if test="dom != null">
				dom,
			</if>
			<if test="lengthMenu != null">
				length_menu,
			</if>
			<if test="orderCellsTop != null">
				order_cells_top,
			</if>
			<if test="orderClasses != null">
				order_classes,
			</if>
			<if test="order != null">
				order,
			</if>
			<if test="orderMulti != null">
				order_multi,
			</if>
			<if test="orderFixed != null">
				order_fixed,
			</if>
			<if test="pageLength != null">
				page_length,
			</if>
			<if test="scrollCollapse != null">
				scroll_collapse,
			</if>
			<if test="searchCols != null">
				search_cols,
			</if>
			<if test="searchDelay != null">
				search_delay,
			</if>
			<if test="renderer != null">
				renderer,
			</if>
			<if test="retrieve != null">
				retrieve,
			</if>
			<if test="stateDuration != null">
				state_duration,
			</if>
			<if test="stripeClasses != null">
				stripe_classes,
			</if>
			<if test="tabIndex != null">
				tab_index,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="creater != null">
				creater,
			</if>
			<if test="lastUpdateTime != null">
				last_update_time,
			</if>
			<if test="modifier != null">
				modifier,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
			<if test="def1 != null">
				def1,
			</if>
			<if test="def2 != null">
				def2,
			</if>
			<if test="def3 != null">
				def3,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="gridName != null">
				#{gridName,jdbcType=VARCHAR},
			</if>
			<if test="autoWidth != null">
				#{autoWidth,jdbcType=TINYINT},
			</if>
			<if test="deferRender != null">
				#{deferRender,jdbcType=TINYINT},
			</if>
			<if test="info != null">
				#{info,jdbcType=TINYINT},
			</if>
			<if test="jQueryUi != null">
				#{jQueryUi,jdbcType=TINYINT},
			</if>
			<if test="lengthChange != null">
				#{lengthChange,jdbcType=TINYINT},
			</if>
			<if test="ordering != null">
				#{ordering,jdbcType=TINYINT},
			</if>
			<if test="paging != null">
				#{paging,jdbcType=TINYINT},
			</if>
			<if test="processing != null">
				#{processing,jdbcType=TINYINT},
			</if>
			<if test="scrollX != null">
				#{scrollX,jdbcType=TINYINT},
			</if>
			<if test="scrollY != null">
				#{scrollY,jdbcType=VARCHAR},
			</if>
			<if test="searching != null">
				#{searching,jdbcType=TINYINT},
			</if>
			<if test="serverSide != null">
				#{serverSide,jdbcType=TINYINT},
			</if>
			<if test="stateSave != null">
				#{stateSave,jdbcType=TINYINT},
			</if>
			<if test="deferLoading != null">
				#{deferLoading,jdbcType=TINYINT},
			</if>
			<if test="destory != null">
				#{destory,jdbcType=TINYINT},
			</if>
			<if test="displayStart != null">
				#{displayStart,jdbcType=INTEGER},
			</if>
			<if test="dom != null">
				#{dom,jdbcType=VARCHAR},
			</if>
			<if test="lengthMenu != null">
				#{lengthMenu,jdbcType=VARCHAR},
			</if>
			<if test="orderCellsTop != null">
				#{orderCellsTop,jdbcType=TINYINT},
			</if>
			<if test="orderClasses != null">
				#{orderClasses,jdbcType=TINYINT},
			</if>
			<if test="order != null">
				#{order,jdbcType=VARCHAR},
			</if>
			<if test="orderMulti != null">
				#{orderMulti,jdbcType=TINYINT},
			</if>
			<if test="orderFixed != null">
				#{orderFixed,jdbcType=VARCHAR},
			</if>
			<if test="pageLength != null">
				#{pageLength,jdbcType=INTEGER},
			</if>
			<if test="scrollCollapse != null">
				#{scrollCollapse,jdbcType=TINYINT},
			</if>
			<if test="searchCols != null">
				#{searchCols,jdbcType=VARCHAR},
			</if>
			<if test="searchDelay != null">
				#{searchDelay,jdbcType=INTEGER},
			</if>
			<if test="renderer != null">
				#{renderer,jdbcType=VARCHAR},
			</if>
			<if test="retrieve != null">
				#{retrieve,jdbcType=VARCHAR},
			</if>
			<if test="stateDuration != null">
				#{stateDuration,jdbcType=INTEGER},
			</if>
			<if test="stripeClasses != null">
				#{stripeClasses,jdbcType=VARCHAR},
			</if>
			<if test="tabIndex != null">
				#{tabIndex,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creater != null">
				#{creater,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateTime != null">
				#{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				#{modifier,jdbcType=VARCHAR},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=TINYINT},
			</if>
			<if test="def1 != null">
				#{def1,jdbcType=VARCHAR},
			</if>
			<if test="def2 != null">
				#{def2,jdbcType=VARCHAR},
			</if>
			<if test="def3 != null">
				#{def3,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.beauty.entity.Grid">
		update beauty_conf_grid
		<set>
			<if test="gridName != null">
				grid_name = #{gridName,jdbcType=VARCHAR},
			</if>
			<if test="autoWidth != null">
				auto_width = #{autoWidth,jdbcType=TINYINT},
			</if>
			<if test="deferRender != null">
				defer_render = #{deferRender,jdbcType=TINYINT},
			</if>
			<if test="info != null">
				info = #{info,jdbcType=TINYINT},
			</if>
			<if test="jQueryUi != null">
				j_query_ui = #{jQueryUi,jdbcType=TINYINT},
			</if>
			<if test="lengthChange != null">
				length_change = #{lengthChange,jdbcType=TINYINT},
			</if>
			<if test="ordering != null">
				ordering = #{ordering,jdbcType=TINYINT},
			</if>
			<if test="paging != null">
				paging = #{paging,jdbcType=TINYINT},
			</if>
			<if test="processing != null">
				processing = #{processing,jdbcType=TINYINT},
			</if>
			<if test="scrollX != null">
				scroll_x = #{scrollX,jdbcType=TINYINT},
			</if>
			<if test="scrollY != null">
				scroll_y = #{scrollY,jdbcType=VARCHAR},
			</if>
			<if test="searching != null">
				searching = #{searching,jdbcType=TINYINT},
			</if>
			<if test="serverSide != null">
				server_side = #{serverSide,jdbcType=TINYINT},
			</if>
			<if test="stateSave != null">
				state_save = #{stateSave,jdbcType=TINYINT},
			</if>
			<if test="deferLoading != null">
				defer_loading = #{deferLoading,jdbcType=TINYINT},
			</if>
			<if test="destory != null">
				destory = #{destory,jdbcType=TINYINT},
			</if>
			<if test="displayStart != null">
				display_start = #{displayStart,jdbcType=INTEGER},
			</if>
			<if test="dom != null">
				dom = #{dom,jdbcType=VARCHAR},
			</if>
			<if test="lengthMenu != null">
				length_menu = #{lengthMenu,jdbcType=VARCHAR},
			</if>
			<if test="orderCellsTop != null">
				order_cells_top = #{orderCellsTop,jdbcType=TINYINT},
			</if>
			<if test="orderClasses != null">
				order_classes = #{orderClasses,jdbcType=TINYINT},
			</if>
			<if test="order != null">
				order = #{order,jdbcType=VARCHAR},
			</if>
			<if test="orderMulti != null">
				order_multi = #{orderMulti,jdbcType=TINYINT},
			</if>
			<if test="orderFixed != null">
				order_fixed = #{orderFixed,jdbcType=VARCHAR},
			</if>
			<if test="pageLength != null">
				page_length = #{pageLength,jdbcType=INTEGER},
			</if>
			<if test="scrollCollapse != null">
				scroll_collapse = #{scrollCollapse,jdbcType=TINYINT},
			</if>
			<if test="searchCols != null">
				search_cols = #{searchCols,jdbcType=VARCHAR},
			</if>
			<if test="searchDelay != null">
				search_delay = #{searchDelay,jdbcType=INTEGER},
			</if>
			<if test="renderer != null">
				renderer = #{renderer,jdbcType=VARCHAR},
			</if>
			<if test="retrieve != null">
				retrieve = #{retrieve,jdbcType=VARCHAR},
			</if>
			<if test="stateDuration != null">
				state_duration = #{stateDuration,jdbcType=INTEGER},
			</if>
			<if test="stripeClasses != null">
				stripe_classes = #{stripeClasses,jdbcType=VARCHAR},
			</if>
			<if test="tabIndex != null">
				tab_index = #{tabIndex,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creater != null">
				creater = #{creater,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateTime != null">
				last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="isDeleted != null">
				is_deleted = #{isDeleted,jdbcType=TINYINT},
			</if>
			<if test="def1 != null">
				def1 = #{def1,jdbcType=VARCHAR},
			</if>
			<if test="def2 != null">
				def2 = #{def2,jdbcType=VARCHAR},
			</if>
			<if test="def3 != null">
				def3 = #{def3,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>