<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beauty.mapper.BeautyUserRoleMapper">
	<resultMap id="BaseResultMap" type="com.beauty.entity.BeautyUserRole">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="role_id" property="roleId" jdbcType="BIGINT" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, role_id
	</sql>
	<sql id="Base_Where_Clause">
		<if test="searchValue">
			AND ( a.name LIKE "%" #{searchValue} "%" OR a.code LIKE "%" #{searchValue} "%" )
		</if>
	</sql>
	<select id="selectPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		SELECT id, code, name
		FROM beauty_role r
		WHERE id NOT IN (SELECT role_id FROM beauty_user_role WHERE user_id = #{userId})
		<include refid="Base_Where_Clause" />
		ORDER BY
		<if test="orderColumn">
			${orderColumn} ${orderDir}
		</if>
		<if test="orderColumn == null">
			id
		</if>
		LIMIT #{from}, #{size}
	</select>
	<select id="selectCount" parameterType="java.util.HashMap" resultType="int">
		SELECT COUNT(1)
		FROM beauty_role r
		WHERE id NOT IN (SELECT role_id FROM beauty_user_role WHERE user_id = #{userId})
		<include refid="Base_Where_Clause" />
	</select>
	<select id="selectConfPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		SELECT t1.id, t2.code, t2.name
		FROM beauty_user_role t1 LEFT JOIN beauty_role t2 ON t1.role_id = t2.id
		WHERE t1.user_id = #{userId}
		<include refid="Base_Where_Clause" />
		ORDER BY
		<if test="orderColumn">
			${orderColumn} ${orderDir}
		</if>
		<if test="orderColumn == null">
			id
		</if>
		LIMIT #{from}, #{size}
	</select>
	<select id="selectConfCount" parameterType="java.util.HashMap" resultType="int">
		SELECT COUNT(1)
		FROM beauty_user_role t1 LEFT JOIN beauty_role t2 ON t1.role_id = t2.id
		WHERE t1.user_id = #{userId}
		<include refid="Base_Where_Clause" />
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from beauty_user_role
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKeys" parameterType="java.util.List">
		delete from beauty_user_role
		where 1 != 1
		<if test="list.size() > 0">
			OR id IN
			<foreach collection="list" open="(" close=")" item="id" separator=",">
				#{id}
			</foreach>
		</if>
	</delete>
	<insert id="insert" parameterType="com.beauty.model.Value">
		insert into beauty_user_role (user_id, role_id )
		values
		<if test="values.size() > 0">
			<foreach collection="values" item="id" separator=",">
				<trim prefix="(" suffix=")" suffixOverrides=",">
					#{value}, #{id}
				</trim>
			</foreach>
		</if>
	</insert>
	<insert id="insertSelective" parameterType="com.beauty.entity.BeautyUserRole">
		insert into beauty_user_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null"> id, </if>
			<if test="userId != null"> user_id, </if>
			<if test="roleId != null"> role_id, </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null"> #{id,jdbcType=BIGINT}, </if>
			<if test="userId != null"> #{userId,jdbcType=BIGINT}, </if>
			<if test="roleId != null"> #{roleId,jdbcType=BIGINT}, </if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.beauty.entity.BeautyUserRole">
		update beauty_user_role
		<set>
			<if test="userId != null"> user_id = #{userId,jdbcType=BIGINT}, </if>
			<if test="roleId != null"> role_id = #{roleId,jdbcType=BIGINT}, </if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>